@import "tailwindcss";

@theme {  
  --color-adrians-red: #C92E17;
  --color-adrians-brown: #37251C;
  --color-adrians-beige: #F4E6DB;
  --color-adrians-blue: #214594;
  --color-adrians-green: #276E2F;
  --color-adrians-yellow: #F5B71F;
  --color-adrians-orange: #F07E2B;
  --color-adrians-bg: #FDFCFB;
  --color-adrians-placeholder: #535353;

  --font-primary: 'Bebas Neue', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  --shadow-adrians-horizontal-card: 0px 18px 50px -10px rgba(0, 0, 0, 0.1);
  --shadow-adrians-vertical-card: 0px 0px 16px rgba(17, 17, 26, 0.1);

  --shadow-adrians-btn-shadow: 0px 8px 28px rgba(201, 46, 23, 0.3);
  --shadow-adrians-btn-shadow-hover: 0px 8px 28px rgba(201, 46, 23, 0.4);
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

:root {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-adrians-bg);
    scrollbar-width: thin;
	  scrollbar-color: rgba(201, 46, 23, 0.8) rgba(201, 46, 23, 0.1);
}

